
{% csrf_token %}
<table  style="border:3px #FFAC55 double;padding:5px;" rules="all" cellpadding='5';>


<th>servertime</th><th>account</th><th>oid</th><th>qty</th><th>price</th>
<th>total</th><th>side</th><th>status</th><th>symbol</th><th>relatedid</th><th>commission</th><th>commission2</th>

{%for i in test%}

<tr>
<td>{{i.timestamp}}</td>
<td>{{i.account}}</td>
<td>{{i.oid}}</td>
<td>{{i.qty}}</td>
<td>{{i.price}}</td>
<td>{{i.total}}</td>
<td>{{i.side}}</td>
<td>{{i.status}}</td>
<td>{{i.symbol_id}}</td>
<td>{{i.relatedid}}</td>
<th>{{i.commission}}</th>
<th>{{i.commission2}}</th>
</tr>


{%endfor%}
COUNT = {{COUNT}} </br>
memuuid = {{memuuid}}</br>
</table>


<body>
  <h2>order create(一)</h2>

  <form action="." method="POST" name="form1">
    {% csrf_token %}
    <table  style="border:3px #FFAC55 double;padding:5px;" rules="all" cellpadding='5';>

      <tr>
        <th>oid</th><td><input type="text" id="oid" name="oid"/></td>
      </tr>

      <tr>
        <th>symbol</th><td><input type="text" id="symbol" name="symbol"/></td>
      </tr>

      <tr>
        <th>timestamp</th><td><input type="text" id="timestamp" name="timestamp"/></td>
      </tr>


      <tr>
        <th colspan="2" align="center">
          <input type="submit" name="button" id="button" value="cancel">
          <input type="reset" name="button2" id="button2" value="reset"></th>
      </tr>

    </table>
    <span style="color:red">{{message}}</span>
  </form>
</body>



</html> 