<html>
<head>
  <title>createorder</title>
</head>

</br>

{% csrf_token %}

<table border="1" cellpadding="0" cellspacing="0">
<th>servertime</th><th>account</th><th>oid</th><th>qty</th><th>price</th>
<th>total</th><th>side</th><th>status</th><th>symbol</th><th>relatedid</th><th>commission</th><th>commission2</th>

{%for i in test%}

<tr>
<td>{{i.timestamp}}</td>
<td>{{i.account}}</td>
<td>{{i.oid}}</td>
<td>{{i.qty}}</td>
<td>{{i.price}}</td>
<td>{{i.total}}</td>
<td>{{i.side}}</td>
<td>{{i.status}}</td>
<td>{{i.symbol_id}}</td>
<td>{{i.relatedid}}</td>
<th>{{i.commission}}</th>
<th>{{i.commission2}}</th>
</tr>


{%endfor%}
</table>


<body>
  <h2>order create(一)</h2>
  <form action="." method="POST" name="form1">
    {% csrf_token %}
    <table border="1" cellspacing="1" cellpadding="4">

      <tr>
        <th>買賣</th><td><input type="text" id="side" name="side"/></td>
      </tr>

      <tr>
        <th>單價</th><td><input type="text" id="price" name="price"/></td>
      </tr>

      <tr>
        <th>數量</th><td><input type="text" id="qty" name="qty"/></td>
      </tr>

      <tr>
        <th>貨幣</th><td ><input type="text" id="symbol" name="symbol" value="ADA_USDT"/></td>
      </tr>

      <tr>
        <th>類型</th><td ><input type="text" id="cate" name="cate"/></td>
      </tr>


      <tr>
        <th colspan="2" align="center">
          <input type="submit" name="button" id="button" value="送出">
          <input type="reset" name="button2" id="button2" value="重設"></th>
      </tr>

    </table>
    <span style="color:red">{{message}}</span>
  </form>
</body>



</html> 