<!DOCTYPE html>
<html lang="zh-TW">
<head>
<meta charset="UTF-8" />
<title>BDB交易所 - 忘記密碼</title>
<link rel="stylesheet" type="text/css" href="css/login.css" />
</head>
<body>

<div class="login">
	<div class="login_logo"><img src="img/logo.png" /><br />找回密碼</div>
	<div class="check">請確認您正在訪問 https://www.bdb.com<br /><img src="img/safeLink1.png" /></div>
	<div class="form_set">
		<form action="" method="post">
            {% csrf_token %}
			<input class="mail" name="mail" type="text" />
		<input type="submit" value="確認" />
		</form>
	</div>
</div>


<footer>
<div class="ch_cen">
	<div class="ch_cen_left">
		<a href="about.html" title="關於我們">關於我們</a>
		<a href="service.html">服務協議</a>
		<a href="statement.html">隱私聲明</a>
		<a href="fee.html">費率標準</a>
		<a href="contract.html">聯繫我們</a>
		<a href="#">API文檔</a>
		<a href="#">上幣申請</a>

		<a href="help.html">幫助中心</a>
	</div>
	<div class="ch_cen_left2">
	© 2018 – 2019 dbd3.com. All rights reserved.
	</div>
</div>
</footer>

<script src="js/jquery-3.2.1.min.js"></script>
</body>
</html>