<html>
<head>
	<title>顯示所有資料</title>
</head>

<body>
  <h2>order create(一)</h2>
  <form action="." method="POST">
    {% csrf_token %}
    <table border="1" cellspacing="1" cellpadding="4">

      <tr>
        <th>limit</th><td><input type="limit" id="limit" name="limit"/></td>
      </tr>
      <tr>
        <th>category</th><td><input type="category" id="category" name="category"/></td>
      </tr>


      <tr>
        <th colspan="2" align="center">
          <input type="submit" name="button" id="button" value="送出">
          <input type="reset" name="button2" id="button2" value="重設"></th>
      </tr>

    </table>
    <span style="color:red">{{message}}</span>
  </form>
</body>





</html>
