<!DOCTYPE html>
<html lang="zh-TW">
<head>

<meta charset="UTF-8" />
<title>BDB交易所 - 登入</title>
<link rel="stylesheet" type="text/css" href="css/login.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>

<body>
<div class="login">
	<div class="login_logo"><img src="img/logo.png" /><br />登入幣達</div>
	<div class="check">請確認您正在訪問 https://www.bdb.com<br /><img src="img/safeLink1.png" /></div>
	<div class="form_set">
		<form method="post">
            {% csrf_token %}
			<div class="mail">{{form.username}}</div>
			<div class="pws">{{form.password}}</div>
			<input type="submit" />
			</form>
	</div>
	<div class="login_bottom">
		<div class="lo_left"><a href="forgotpassword.html">忘記密碼？</a></div>
		<div class="lo_right"><a href="register.html">馬上註冊</a></div>
	</div>
</div>


<footer>
<div class="ch_cen">
	<div class="ch_cen_left">
		<a href="about.html" title="關於我們">關於我們</a>
		<a href="service.html">服務協議</a>
		<a href="statement.html">隱私聲明</a>
		<a href="fee.html">費率標準</a>
		<a href="contract.html">聯繫我們</a>
		<a href="#">API文檔</a>
		<a href="#">上幣申請</a>

		<a href="help.html">幫助中心</a>
	</div>
	<div class="ch_cen_left2">
	© 2018 – 2019 dbd3.com. All rights reserved.
	</div>
</div>
</footer>

<script src="js/jquery-3.2.1.min.js"></script>
</body>
</html>