<!DOCTYPE html>
<html lang="zh-TW">
<head>
<meta charset="UTF-8" />
<title>BDB交易所 - 登入</title>
<link rel="stylesheet" type="text/css" href="css/login.css" />
</head>
<body>

<div class="login register">
	<div class="login_logo"><img src="img/logo.png" /><br />註冊</div>
	<div class="check">請確認您正在訪問 https://www.bdb.com<br /><img src="img/safeLink1.png" /></div>
	<div class="form_set">
		<form action="" method="post">
            {% csrf_token %}
			<div class="mail">{{form.email}}</div>
			<div class="pws">{{form.password1}}</div>
			<div class="pws">{{form.password2}}</div>
		<input class="profile" type="text" placeholder="推薦人ID"  />
		<input class="checkbox_1" type="checkbox" /> <span class="confom">我已閱讀並同意幣達 <a href="service.html" target="_blank">服務條款</a></span>
		<input type="submit" />
		</form>
	</div>
	<div class="login_bottom">
		<div class="lo_right"><a href="login.html">登入</a></div>
	</div>
</div>


<footer>
<div class="ch_cen">
	<div class="ch_cen_left">
		<a href="about.html" title="關於我們">關於我們</a>
		<a href="service.html">服務協議</a>
		<a href="statement.html">隱私聲明</a>
		<a href="fee.html">費率標準</a>
		<a href="contract.html">聯繫我們</a>
		<a href="#">API文檔</a>
		<a href="#">上幣申請</a>

		<a href="help.html">幫助中心</a>
	</div>
	<div class="ch_cen_left2">
	© 2018 – 2019 dbd3.com. All rights reserved.
	</div>
</div>
</footer>

<script src="js/jquery-3.2.1.min.js"></script>
</body>
</html>