<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

		<form action="" method="post">
            {% csrf_token %}
			{{form.new_password1}}<br>
			{{form.new_password2}}
		<button type="submit">修改</button>
		</form>


</body>
</html>