<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{%if fields%}
{{msg}}<br>
    {%for a in fields%}
    {{a}}
    {%endfor%}
{%for a in data%}
<li>{{a}}</li>
{%endfor%}
<form action="" method="post">
    {% csrf_token %}
    {%for a in fields%}
    {{a}} =<input name={{a}} value=""><br>
    {%endfor%}
    <button type="submit">submit</button><br>
</form>
{%endif%}
<a href="/management/coin/">coin</a><br>
<a href="/management/exchangeinfo/">exchangeinfo</a><br>
<a href="/management/userlevel/">userlevel</a><br>
<a href="/management/send_mail/">send_mail</a><br>
</body>
</html>