<!DOCTYPE html>
<html lang="zh-TW">
<head>
<meta charset="UTF-8" />
<title>BDB交易所 - 隱私聲明</title>
<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css" />
<link rel="stylesheet" type="text/css" href="vendor/perfect-scrollbar/perfect-scrollbar.css" />
<link rel="stylesheet" type="text/css" href="css/main.css" />
<link rel="stylesheet" type="text/css" href="css/user.css" />
</head>
<body>
<div class="top_menu">
	<div class="header">
		<div class="m_logo">
			<a href="index.html">
				<img src="img/logo.png" />{{res}}
			</a>
		</div>
		<div class="left_menu">
			<ul>
				<li><a href="#">幣幣交易</a></li>
				<li><a href="#">消息中心</a></li>
				<li><a href="infos.html">資訊</a></li>
			</ul>
		</div>
		<div class="right_menu">
			<ul>
				<li class="reg"><a href="login.html">資產管理</a></li>
				<li class="reg"><a href="login.html">訂單管理</a></li>
				<li class="lag"><a href="#"><img src="img/translate.png" width=20 /></a></li>
			</ul>
		</div>
	</div>
</div>

<div class="top_news_other user_index"> BDB Service </div>
<div class="announcement">
<a href="">公告存放# 1</a>
/
<a href="">公告存放# 1</a>
/
<a href="">公告存放# 1</a>
/
<a href="">公告存放# 1</a>
/
<a href="">公告存放# 1</a>
</div>

<div class="user_use">
	<div class="user_top">
		<div class="f_left mar25">
			<img src="img/img-user.png" />
		</div>
		<div class="f_right mar25">
			<div class="account">abcdefghijklmnopqrstuvwxyz@outlook.com</div>
			<div class="level"><img src="img/diamond.png" width="16" /> Lv .1 <span class="identity">尚未認證</span></div>
			<div class="acc_time">最後登錄時間: <span>2018-07-01 19:54:49    IP: 255.255.255.255</span></div>
		</div>
		<div class="f_right_2 mar25">
			<ul>
				<li>
					<div><b>2</b> BTC 提現額度</div>
					<div class="dm"><img src="img/diamond.png" width="25" /> Lv. 1</div>
					<div><a href="#">完成電話驗證</a></div>
				</li>
				<li>
					<div><b>100</b> BTC 提現額度</div>
					<div class="dm"><img src="img/diamond.png" width="25" /> Lv. 2</div>
					<div><a href="#">完成身份驗證</a></div>
				</li>
				<li>
					<div><b> </b>更高額度<b> </b></div>
					<div class="dm"><img src="img/diamond.png" width="25" /> Lv. 3</div>
					<div><a href="#">聯繫我們</a></div>
				</li>
			</ul>
		</div>
	</div>
	<div class="user_two">
		<div class="user_two_left">
			<div class="divset1">
				<img class="icon_img" src="img/tag.png" />
				<div class="textset">手續費折扣
				<p>使用平台幣BDB支付交易手續費 ( 50%折扣 )</p>
				</div>
				<a class="right_a" href="#" class="right_a">開啟</a>
			</div>
			<div class="divset1">
				<img class="icon_img" src="img/padlock.png" />
				<div class="textset">密碼修改
				<p>修改密碼</p></div>
				<a class="right_a" href="chpwd.html" class="right_a">修改</a>
			</div>
			<div class="divset1 apiset">
				<img class="icon_img marset" src="img/setting2.png" />
				<div class="textset marset2">API管理
				<p>創建API密鑰可以讓您借助第三方網站或移動應用使用幣達的行情查詢，即時交易等服務。請參閱<a href="#" target="_blank">API文檔</a>瞭解如何使用您的API Keys。</p></div>
				<a class="right_a marset" href="#" class="right_a">設置</a>
			</div>
			<div class="divset1">
				<img class="icon_img marset" src="img/paper.png" />
				<div class="textset marset2">白名單地址管理
				<p>地址管理允許您保存和備註提現地址，以便在提現時快速選擇。</p></div>
				<a class="right_a marset" href="#" class="right_a">設置</a>
			</div>
		</div>
		<div class="user_two_right">
			<div class="divset1 right_1">
				<div class="area_1">
					<img class="icon_img" src="img/check.png" />
					<div class="textset">驗證
					<p>為了安全性，必須通過才能進行多項功能！</p></div>
				</div>
			<div class="two_line"></div>
				<div class="area_1">
					<img class="icon_img cell_mar" src="img/phone.png" />
					<div class="textset cell_mar">手機驗證 (+886912345678)
					<p>提現，修改密碼，及安全設置時用以收取驗證短信</p></div>
					<a class="right_a cell_mar" href="#" class="right_a">開啟</a>
				</div>
			<div class="two_line"></div>
				<div class="area_1">
					<img class="icon_img cell_mar" src="img/2fa.png" />
					<div class="textset cell_mar">Google Authenticator
					<p>提現，修改密碼，及安全設置時用以驗證谷歌二次驗證</p></div>
					<a class="right_a cell_mar" href="#" class="right_a">開啟</a>
				</div>
			</div>
			<div class="divset1">
				<img class="icon_img marset" src="img/money-bag.png" />
				<div class="textset marset2">分發記錄
				<p>分發記錄詳情</p></div>
				<a class="right_a marset" href="#" class="right_a">瀏覽</a>
			</div>
		</div>
	</div>
	<div class="user_3">
		<table>
			<tr>
				<td>登錄時間</td>
				<td>IP 地址</td>
				<td>登錄所在地</td>
				<td></td>
			</tr>
				<tr><td>2018-07-02 15:58:42	</td><td>36.231.77.232</td><td>Banqiao Taiwan, Province of China</td><td><a href="#">這不是我</a></td></tr>
				<tr><td>2018-07-02 15:58:42	</td><td>36.231.77.232</td><td>Banqiao Taiwan, Province of China</td><td><a href="#">這不是我</a></td></tr>
				<tr><td>2018-07-02 15:58:42	</td><td>36.231.77.232</td><td>Banqiao Taiwan, Province of China</td><td><a href="#">這不是我</a></td></tr>
				<tr><td>2018-07-02 15:58:42	</td><td>36.231.77.232</td><td>Banqiao Taiwan, Province of China</td><td><a href="#">這不是我</a></td></tr>
				<tr><td>2018-07-02 15:58:42	</td><td>36.231.77.232</td><td>Banqiao Taiwan, Province of China</td><td><a href="#">這不是我</a></td></tr>
		</table>
	</div>
</div>

<footer>
<div class="ch_cen">
	<div class="ch_cen_left">
		<a href="about.html" title="關於我們">關於我們</a>
		<a href="service.html">服務協議</a>
		<a href="statement.html">隱私聲明</a>
		<a href="fee.html">費率標準</a>
		<a href="contract.html">聯繫我們</a>
		<a href="#">API文檔</a>
		<a href="#">上幣申請</a>

		<a href="help.html">幫助中心</a>
	</div>
	<div class="ch_cen_left2">
	© 2018 – 2019 dbd3.com. All rights reserved.
	</div>
</div>
</footer>

<script src="js/jquery-3.2.1.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script>
	$('.js-pscroll').each(function(){
		var ps = new PerfectScrollbar(this);

		$(window).on('resize', function(){
			//ps.update();
		})
	});
		
	
</script>
</body>
</html>